
html {
    height: 100vh;
}

body {
    height: 100%;
}



main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    text-align: center;
}

button{
    color: red;
    width: 500px;
    height: 200px;
    font-size: 48px;
}

#cor{
    background-color: black;
}

#linha1{
    background-color: red;
    padding: 45px;
    margin-left: 10px;
    margin-right: 1625px;
}

#linha2{
    background-color: aqua;
    padding: 45px;
    margin-left: 110px;
    margin-right: 1505px;
}

#linha3{
    background-color: blue;
    padding: 45px;
    margin-left: 210px;
    margin-right: 1430px;
}

#linha4{
    background-color: blueviolet;
    padding: 45px;
    margin-left: 310px;
    margin-right: 1350px;
}

#linha5{
    background-color: brown;
    padding: 45px;
    margin-left: 410px;
    margin-right: 1250px;
}

#linha6{
    background-color: chartreuse;
    padding: 45px;
    margin-left: 510px;
    margin-right: 1100px;
}